body {
    margin: 0;
    padding: 0;
}

#portfolio {
    padding: 0;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

#presentation {
    width: 100%;
    font-size: 1em;
    color: black;
    text-align: center;
}

.button_div_portfolio {
    display: flex;
    justify-content: space-around;
}

.button_portfolio {
    width: 20%;
    height: auto;
    text-align: center;
    font-size: 1em;
    color: black;
}

#container_photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    padding: 0;
  }
  
.portfolio_pics_frame {
    height: 40vh;
    width: 30%;
    margin: 10px;
    list-style-type: none;
    box-shadow: 10px 10px 10px rgb(206, 206, 206);
  }
  
.portfolio_pics {
    max-height: 40vh;
    min-height: 40vh;
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    border-radius: 1vmin;
    object-fit: cover;
  }

