/* ------------PARTIE DE BASTIEN --------- */

:root{
    --primary-color: rgba(27, 37, 51, 1);
    --font-h1: 'Josefin Slab', serif;
    --font-h2:'Josefin Slab', serif;
    --font:'Old Standard TT', serif;
}




header, body,html{
    margin: 0px;
    padding: 0px;
}


 .content {
     /* border: 1px solid yellow; */
     display: flex;
     justify-content: center;
     flex-direction: row;
     background-color: var(--primary-color);
 }

 ul{
     /* border: 1px solid red; */
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     list-style-type:none ;
     width: 45%;
     font-family: var(--font-h2);
     color: whitesmoke;
     font-size: 1.2em;
     
 }

 a{
     color: whitesmoke;
     text-decoration: none;
 }
 a:hover{
     color: whitesmoke;
     font-weight: bold;
 }




 #banniere {
     /* border: 1px solid pink; */
     height: 820px;
     background: url(photo.jpg) no-repeat center center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-items: center;
     justify-content: center;
 }

 h1{
     color: whitesmoke;
     font: var(--font-h1);
     font-size: 3vw;
     letter-spacing: 0.5em;
     background-color: rgba(27, 37, 51, 0.8);
     text-align: center;
     padding-left: 10px;

 }

 #soustitre{
    color: whitesmoke;
    font: var(--font-h2);
    font-size: 1.3em;
    text-align: center;
 }


    

/* ---------- MEDIA QUERIES -------------*/

 @media all and (max-width: 860px)
 {
     a{
         display: none;

    }

    #burger {
        width: 28px;
        height: 20px;
        color: whitesmoke;
        /* border: whitesmoke 1px solid; */
    }

    .content{
        display: flex;
        justify-content: right;
        padding-right: 3% ;
        align-items: center;
    }
    
    

 } 


 @media all and (min-width: 860px)
 {
    #burger {
        display: none;
    }
    
 } 







 #lorem {
     margin-top: 200px;
 }

 
